<style>
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 30px;
    max-width: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .profile-container img {
    width: 150px;
    border-radius: 90%;
    /* border: 8px solid #dde1f6; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
  }

  .profile-container h1 {
    margin: 0 0 5px;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 1.3px;
    color: #222;
  }

  .profile-container p {
    font-size: 18px;
    color: #666;
    margin: 0 0 15px;
    font-weight: 500;
    text-transform: none;
    letter-spacing: 1.5px;
  }

  .profile-container .social-links a {
    display: inline-block;
    margin-right: 10px;
    transition: transform 0.2s ease;
  }

  .profile-container .social-links a:hover {
    transform: scale(1.15);
  }

  .profile-container .social-links img {
    width: 22px;
    height: 22px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
  }

  .profile-container .social-links img:hover {
    filter: grayscale(0%);
  }

  @media (max-width: 600px) {
    .profile-container {
      align-items: center;
      text-align: center;
    }
  }
</style>

<div class="profile-container">
  <img src="{{ '/assets/img/foto_perfil_2.png' | relative_url }}" alt="Foto de perfil">
  <h1>SYÃ FONSECA</h1>
  <p>"Inteligência em dados, poder em decisões."</p>
  <div class="social-links">
    <a href="https://github.com/fonsecadados" target="_blank">
      <img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/github.svg" alt="GitHub">
    </a>
    <a href="https://www.linkedin.com/in/syafonseca/" target="_blank">
      <img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/linkedin.svg" alt="LinkedIn">
    </a>
    <a href="mailto:syafonseca@gmail.com">
      <img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/gmail.svg" alt="Email">
    </a>
    <a href="https://www.kaggle.com/syfonseca">
      <img src="https://cdn.jsdelivr.net/npm/simple-icons@9.21.0/icons/kaggle.svg" alt="Kaggle">
    </a>
  </div>
</div>

